body,
html {
  padding: 0;
  font-family: "Roboto", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-color: #181818;
  border-radius: 50px;
  overflow: hidden;
}

.hero {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  animation: Color 4s linear infinite;
  color:#F2F0EF;
  text-shadow: 3px 3px #ffffff0a;
}


.deck {
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.row {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.buttonitems {
  width: 80px;
  height: 80px;
  margin: 5px;
  background-color: #2525254a;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s;
  border-radius: 5px;
}

.buttonitems:hover {
  background-color: #1a1a1a;
  opacity: 90%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
  scale: 1.1;
}

.buttonitems img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

